body {
  padding: 32px 16px;
  text-align: center;
}

svg {
  border: 1px solid red;
}

.bar {
  fill: orange;
  position: relative;
}

#tooltip {
  width: auto;
  height: auto;
  background-color: lightblue;
  display: inline-block;
  padding: 8px 16px;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
